html
{
    height: 100%;
}
body
{
    height: 100%;
    background-color:bisque;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
}

main
{
    width: 75%;
    height: 75%;
}

#gameInfo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#turnIndicator
{
    margin-bottom: 0px;
    align-self: end;
}

#wallInfo
{
    justify-self: end;
}

#wallInfo *
{
    margin: 0px;
    text-align: center;
}

#c 
{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#fps
{
    position:absolute;
    top:10px;
    right:10px;
}
