html
{
    height: 100%;
}
body
{
    height: 100%;
    background-color: #272eb040;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    position: relative;
}

main
{
    width: 75%;
    height: 75%;
}

@keyframes zoom-in {
    0% {rotate: -720deg; scale: 0%};
    15% {rotate: -360deg;}
    50% {rotate: 0;}
    100% {scale: 100%};
}

#gameOver
{
    pointer-events: none;
    text-align: center;
    text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 #D53a33;
    font-family: sans-serif;
    font-size: 10em;
    width: 80%;
    height: 70%;
    margin-top: 20%;
    position: absolute;
    visibility: hidden;
}

#musicCredit
{
    position:absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    margin: 0;
}

.fancy-animation
{
    visibility: visible !important;
    animation: zoom-in;
    animation-duration: 2s;
}

.fancy-animation::after
{
    content: "!!!";
    animation: add-emphasis linear;
    animation-iteration-count: 5;
    animation-duration: 1s;
}

@keyframes add-emphasis {
    0% { content: "!"} 
    50% { content: "!!"} 
    100% { content: "!!!"} 
}

#gameInfo
{
    display: grid;
    height: 10%;
    grid-template-columns: 1fr 1fr;
}

#turnIndicator
{
    margin-bottom: 0px;
    align-self: end;
}

#wallInfo
{
    justify-self: end;
}

#wallInfo *
{
    margin: 0px;
    text-align: center;
}

#c 
{
    border: 1px solid black;
    width: 100%;
    height: 90%;
}

#fps
{
    position:absolute;
    top:10px;
    right:10px;
}
