body {
    background-color:bisque;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
}

#board {
    margin: .5em;
    display: grid;
    grid-template-columns:repeat(8, 4fr 1fr) 4fr;
    grid-template-rows:repeat(9, 4fr 1fr);
    grid-gap: 0.25em;
}

.tile {
    background-color:skyblue;
    width: 100%;
    height: 100%;
}

.tile:hover
{
    opacity: 1;
    background-color: red;
}

.gutter
{
    opacity: 0;
}

.fence
{
    opacity: 1;
    background-color: lightpink;
}

#c 
{
    border: 1px solid black;
    width: 50%;
    height: 50%;
}